#Me {
    width: 100px;
    border-radius: 50%;
    border: 5px solid goldenrod;
}
#text {
    background-color: blue;
    color: black;
}
#text2 {
    background-color: blue;
    color: black;
}
#text3 {
    background-color: blue;
    color: black;
}